.custom-bg {
    background-color: white;
    position: relative;
    .custom-btn {
        border-color: gray;
    }
    .img-bg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 0.4;
            filter: blur(3px);
        }
    }
}