@import url('https://fonts.googleapis.com/css2?family=Prata&family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
    // font-family: "Prata", serif;
    font-size: 16px;
}

.input-ant {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #f4f4f4;
}

.text-link {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    &::after {
        content: "";
        position: absolute;
        left: -3%;
        bottom: 3px; 
        width: 110%;
        height: 0.1px;
        background-color: currentColor;
        transition: width 0.3s ease;
    }
    &:hover::after {
        width: 0%;
    }
}